/* Importing google font */
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
/* Removing global margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Scheme */
:root {
  color-scheme: light dark;
  --main-font-family: "Markazi Text", serif;
  --logo-color: rgb(16, 185, 129);
  --main-color: rgb(8, 207, 141);
  --main-color-hover: rgb(13, 156, 109);
  --feature-color: rgb(236, 61, 61);
  --border-color: rgba(193, 193, 193, 0.488);
  --border-color-glow: rgba(146, 176, 184, 0.663);
  --button-color: rgb(16, 185, 129);
  --button-color-hover: rgb(13, 156, 109);
  --box-color: rgba(131, 212, 185, 0.73);
  --allergies-box-color: rgba(233, 100, 100, 0.616);
  --selected-bg-color: #eeeeee;
  --selected-blur-color: rgba(179, 219, 206, 0.91);
  --blur-blue: rgba(185, 211, 228, 0.338);

  --text-color: #282828;
  --bg-mode: #f0f0f0;
  --bg-img: url("../assets/lightbg.svg");
}

[color-theme="dark"] {
  --text-color: #f0f0f0;
  --bg-mode: #121212;
  --bg-img: url("../assets//darkbg.svg");
}

/* giving body some padding  */
body {
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 1.2em;
  font-weight: lighter;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.no-link-logo {
  text-decoration: none;
  color: var(--main-color);
}

.no-link-style {
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
  color: var(--text-color);
}

.no-link-style:visited {
  color: var(--text-color);
}
